<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="example9.profiler.app"/>
    <context:mbean-export/>
    <bean id = "profilerState" class="example9.profiler.infra.ProfilerStateImpl"/>
    <bean class="example9.profiler.infra.ProfilingBeanPostProcessor">
        <constructor-arg ref="profilerState"/>
    </bean>
</beans>